#comment-list [background-icon] {
            border-radius: 5px;
}
/* Convert Code */
input[id=convertCodeForm]:checked ~ .convertCodeForm {
    display: block;
}
#codeForm {
    resize: none;
    margin: 0;
    display:inline-block;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    width: 100%;
    height: 240px;
    box-sizing: border-box;
}
.convertCodeForm {
    display: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
#convertCode:before {
    content:'\f121';
}
label[for=convertCodeForm] {
    padding: 5px;
}
label[for=convertCodeForm] i {
    margin-right: 10px;
}
/* Cảm ơn vì đã đọc */
#thanks {
    margin-top: 30px;
    text-align: center;
}

/* Danh sách nhãn */
#tag-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#tag-list li  {
    margin-right: 15px;
    margin-bottom: 15px;
    color: #0077aa;
}
/* Post Body */
.postBody img{
    max-width: 100%;
    margin:10px auto;
    border-radius: 15px;    
}
.postBody * {
    max-width: 100%;
}
/* Làm đẹp code */
/* lam dep code */  
code[class*="language-"], 
pre[class*="language-"] { 
  font-family:'Roboto Slab';
  color: #5b6ac4;  
  font-weight: 400; 
  text-align:left;  
  white-space:pre; 
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  word-spacing:normal;  
  word-break:normal;  
  word-wrap:normal; 
  -moz-tab-size:4;  
  -o-tab-size:4;  
  font-size: 100%;
  tab-size:4; 
  -webkit-hyphens:none; 
  -moz-hyphens:none;  
  -ms-hyphens:none; 
  hyphens:none;
} 
pre[class*="language-"]::-moz-selection,  
pre[class*="language-"]::-moz-selection,  
code[class*="language-"]::-moz-selection, 
code[class*="language-"]::-moz-selection {  
  text-shadow:none; 
  background:#b3d4fc; 
} 
pre[class*="language-"]::selection, 
pre[class*="language-"]::selection, 
code[class*="language-"]::selection,  
code[class*="language-"]::selection { 
  text-shadow:none; 
  background:#b3d4fc; 
} 
@media print {  
  code[class*="language-"], 
  pre[class*="language-"] { 
    text-shadow:none; 
  } 
} 
/* Code blocks */ 
pre[class*="language-"] { 
  padding:1em;  
  margin:35px auto;  
  overflow:auto;  
  background-color: #282c34;
  border-radius:5px;
}
:not(pre) > code[class*="language-"] { 
  background:#f5f2f0; 
} 
:not(pre) > code {
  padding: 2.4px 8.8px;
  border-radius: 2.5px;
  background: #f5f2f0;
  color: #5b6ac4;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 100%;
  white-space: pre-wrap;
  margin:auto 1.5px;
};
/* Inline code */:not(pre) > code[class*="language-"] { 
  padding:.1em; 
  border-radius:.3em; 
  white-space:normal; 
} 
/* Code blocks */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}
.token.function-name {
  color: #6196cc;
}
.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}
.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}
.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  color: green;
}
/* */
div > blockquote {
  margin: 40px 0 32px;
  position: relative;
  padding: 24px 0 0 10px;
}
div > blockquote:after {
  content: '';
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
div > blockquote:before {
  margin: 5px 0px;
  padding:0 20px 0 0 ;
  width: 20px;
  display: inline-block;
  float: left;
  font-size: 156.25%;
  font-weight: 900;
}
blockquote:before {
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free',FontAwesome ,'Font Awesome\ 5 Brands';
}
.warning {
  color: #c0580c;
}
.warning:after {
  background-color: #c0580c;
}
.warning:before {
  content: "\f071"; 
}
.ban {
  color: #eb0f00;
}
.ban:before {
  content: "\f05e";
}
.ban:after {
  background-color: #eb0f00;
}
.like {
  color: #3740ff;
}
.like:before {
  content: "\f164";
}
.like:after {
  background-color: #3740ff;
}
.wikipedia:before {
  content: "\f266";
  color: #000;
}
.wikiedia:after {
  background-color: #000;
}
/* Comments */
#comment-list {
    margin-top: 20px;
    border-top: solid #888;
    border-bottom: solid #888;
    padding-top: 20px;
}
#comment-list .somebody-said {
    
    width: 100%;
    box-sizing: border-box;

}
.comment-cover {
    font-weight: bold;
    background: #f0f0f0;
    padding: 10px;
    font-synthesis: 
}
.delete {
    margin: 5px 15px;
    color: #888;
    font-size: 87.5%;
}
#comment-list .delete:after {
    content: '\f2ed';
    font-family: 'Font Awesome\ 5 Free',FontAwesome ,'Font Awesome\ 5 Brands';
    font-weight: 800;
}
/* toc */
#toc {
    background: #f1f1f1;
    padding: 10px;
    color: #295299;
}
#toc ul , #toc li {
    list-style: none;
    padding:0;
    margin: 0;
    margin-bottom: 7px;
}
#toc ul {
    margin-left: 30px;
    border-left: solid 1.5px #888;
    padding-left: 10px;
}
/* table */
  .python-table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin:15px 0;
}
.python-table * {
  box-sizing: border-box;
}
.table-shell {
  display: flex;
  flex-direction: row;
  margin:5px 0;
  padding: 10px;
}
.shell-name , .shell-info {
  align-items: flex-start;
}
.shell-name  {
  width: 25%;
  font-weight: bolder;
  background: inherit;
}
.shell-info code[class*="language-"], .shell-name code[class*="language-"] {
  font-weight: bolder;
  background: inherit;
}
.shell-info {
  width: 75%;
  margin-left: 15px;
}
@media (min-width:426px) {
  .table-shell:nth-child(odd) {
    background: #f1f1f1
  }
  .python-table {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
@media (max-width: 425px) {
  .table-shell {
    flex-direction: column;
  }
  .shell-name  {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 112.5%;
    white-space: nowrap;
    overflow-x: auto; }
  .shell-name:nth-child(odd) {
    background: #f1f1f1;
    margin-bottom: 10px;
  }
}
.hash {
    display: block;
    width: 50%;
    height: 2px;
    background: #888;
    margin:10px auto;
    margin-top: 25px;
}
.move-to-comment {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 15px auto;
    align-items: center;
}
.move-to-comment a[href*=comment-cover] {
    width: 250px;
    text-align: center;
    background: #888;
    color: #fff;
    font-weight: bolder;
}
#move-to-main-content {
  display: inline-block;
  background: #222;
  color: #3367d6;
  margin-bottom: 15px;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
#postBody h2, #postBody h3,#postBody h4,#postBody h5,#postBody h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#postBody h2:before {
  font-size: 87.5%;
}
#postBody h3 {
  font-size: 142%;
}
#postBody h4 {
font-size: 128%;
}
#postBody h5 {
  font-size: 114%;
}
#postBody h6 {
    font-size: 100%;
}